/**
 * 	Laurel Springs Forms Stylesheet
 *  Author: JS
 *  Package: Laurel Springs
 *  Version: 1.0
 */
 
* {
	margin: 0;
	padding: 0;
	line-height: 1;
}

html {
	font-size: 12px;
}

body {
	background: #DEE9EC;
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-family: 'Sitony', sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Rufina', serif;
    color: #7A9CA4;
}

p {
	font-size: 1.3em;
	line-height: 1.6;
	color: #514D4D;
}

hr {
    border: none;
    background: #ddd;
    height: 1px;
}

.clickable {
    cursor: pointer;
}


.wrapper {
	width: 88%;
	margin: auto;
	position: relative;
}


header {
	padding: 1.6em 0 1em;
	background: #7A9CA4;
	color: #FFF;
}
.logo {
	display: inline-block;
}


/* Settings Menu */
#settings {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0 0 5px;
}
#settings_display {
    background: #fff;
    color: #7A9CA4;
    width: 20em;
    padding: 0.75em 50px 0.75em 1em;
    position: relative;
    border-radius: 4px;
    box-sizing: border-box;
}
#settings_display div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 7px 10px 0px;
    border-left: 1px solid #cadade;
}
.svg-inline--fa {
    margin-right: 0 !important;
}
#alert .svg-inline--fa {
    margin-right: 0.5em !important;
}

#settings_menu {
    display: none;
    position: absolute;
    z-index: 5;
    width: 20em;
    background: #fff;
    box-shadow: 0px 0px 6px #aaa;
    right: 0;
    margin-top: 10px;
    padding: 1.5em 2.5em 3em;
    border-radius: 4px;
    box-sizing: border-box;
}
.square::after {
    display: none;
    content:"";
    position: absolute;
    right: 50%;
    margin-right: -4px;
    bottom: -4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: #ffffff transparent transparent transparent;
    z-index:9998;
}
#settings_menu.show {
    display: block;
}
.show.square::after {
    display: block;
}


#pagelist {
    margin: 0 0 2em;
    border: 1px solid #cadade;
    border-radius: 4px;
}
#pagelist li {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    text-align: center;
}
#pagelist li.active {
    background: #fff;
}
#pagelist li button {
    display: block;
    width: 100%;
    border: none;
    background: none;
    text-align: center;
    padding: 1em 0;
    color: #514D4D;
}
#pagelist li:first-of-type {
    border-right: 1px solid #cadade;
}

#eventlist {
    display: block;
    width: 100%;
    padding: 0.6em 2em 0.4em 0.5em;
    border: 1px solid #cadade;
    border-radius: 4px;
	color: #514D4D;
    min-height: 34px;
    /* 	Mobile fix */
	appearance: none;
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari and Chrome */
	-ms-appearance: none;
/* 	Sizing fix */
	-webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
/* #eventlist::-ms-expand {
    display: none;
} */


.title {
    margin-bottom: 1em;
}
.main {
	background: #FFF;
	padding: 4em 0 10rem;
	position: relative;
}

footer {
	
	padding: 1.6em 0 1em;
}
footer p {
	font-size: 0.9rem;
	text-align: center;
}

.intro {
	text-align: center;
}


#alert {
	display: none;
	position: absolute;
	bottom: 2rem;
	left: 50%;
	width: 350px;
	margin-left: -175px;
}
#alert p {
	color: #FFF;
	margin: 1.5rem 0;
	text-align: center;
}
.success {
	background: #15CD72;
}
.failure {
	background: #ED4F32;
}
.sending {
	background: #4bb1cf;
}
.svg-inline--fa {
	margin-right: 0.5em;
	vertical-align: 0;
}

.lss-forms {
	width: 100%;
	margin: 3rem auto 0;
}
.lss-forms input[type="text"],
.lss-forms input[type="email"],
.lss-forms input[type="tel"],
.lss-forms input[type="password"],
.lss-forms input[type="file"],
.lss-forms textarea,
.lss-forms select {
	font-family: 'Sintony', sans-serif;
	display: block;
	width: 100%;
	padding: 0.7rem 0.7rem !important;
	min-height: 34px;
	margin: 0 0 1.5rem 0;
	background: #E9F1F2;
	border: 1px solid #cadade;
	font-size: 1.2rem;
	color: #333;
/* 	Mobile fix */
	appearance: none;
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari and Chrome */
	-ms-appearance: none;
/* 	Sizing fix */
	-webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.lss-forms select::-ms-expand {
    display: none;
}
.lss-forms select {
	background: #FFFFFF;
	padding: 0.47rem 0.4rem !important;
	background: #FFF url( '../images/green-arrow.png' ) no-repeat;
	background-size: 22px 6px;
	background-position: 100% 55%;
}
.lss-forms select option {
	padding: 0.1em 0.5em;
	color: #333;
}
.lss-forms textarea {
	min-height: 10em;
	/*margin-bottom: 5rem;*/
}
.lss-forms input#birthdate,
.lss-forms input#birthdate_2 {
	background: #FFF url( '../images/calendar.png' ) no-repeat;
	background-size: 30px 15px;
	background-position: 100% 55%;
}
.lss-forms p.sec-header {
	border-bottom: 1px solid #DEEAEC;
	text-align: center;
	text-transform: uppercase;
	line-height: 0;
	font-weight: 600;
	margin: 4rem 0 5rem;
}
.lss-forms p.sec-header span {
	background: #FFFFFF;
	padding: 0 2rem;
}
.lss-forms .check_field {
	margin: 2rem 0;
	font-size: 1.5rem;
}
.lss-forms .hasError,
.lss-forms input.hasError,
.lss-forms select.hasError,
.lss-forms textarea.hasError {
	border: 1px solid #8C231C;
}

.lss-forms fieldset.euagreement {
	text-align: center;
}

/*	Disabled Fieldset */
.lss-forms fieldset:disabled {
	display: none;
}
.lss-forms fieldset {
	border: none;
	margin: 0 0 2rem 0;
	padding: 0 0 0 0;
}
#sit_count {
	float: right;
	font-size: 1rem;
	color: #333333;
}


/*	Buttons */
.buttons {
	text-align: center;
}
.lss-forms .btn {
	-webkit-appearance: none;
	font-family: 'Sintony' sans-serif;
	background: #FFFFFF;
	border: 1px solid #8C231C;
	min-width: 180px;
	font-size: 1.3rem;
	padding: 1rem 5rem;
	color: #8C231C;
	display: inline-block;
	margin: 1.5rem 1rem 0;
	text-transform: uppercase;
}
.lss-forms .btn-clear {
	background: #FFF;
	color: #888;
	border: 1px solid #888;
}
.lss-forms .btn-submit.disabled {
	border: 1px solid #DFDFDF;
	color: #DFDFDF;
}

/*	Placeholders */
.lss-forms select.empty,
.lss-forms select option:first-of-type {
	color: #555;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color: #555;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #555;
	opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #555;
	opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #555;
}
::-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #555;
}


/*	Formatting */
.lss-forms span.half > * {
	width: 49%;
}
.lss-forms span.half > *:nth-child( odd ) {
	float: left;
}
.lss-forms span.half > *:nth-child( even ) {
	float: right;
}
.lss-forms span.third > * {
	width: 32%;
	float: left;
}
.lss-forms span.third > *:nth-child( 2 ) {
	margin: 0 2%;
}
